.circle {
    display: flex!important;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.triangle {
    /*display: flex!important;
    justify-content: center;
    align-items: center;*/
    border-left: 4.62px solid transparent;
    border-right: 4.62px solid transparent;
    border-bottom: 8px solid #ffffff;
    /*border: 2px solid #000000;*/
}

.rhombus {
    width: 8px;
    height: 8px;
    display: flex!important;
    justify-content: center;
    align-items: center;
	transform: rotate(45deg);
	background: #ffffff;
    border: 2px solid #000000;
}

.red {
    background: #ff0000 !important;
}
.green {
    background: #00ff00 !important;
}  
.blue {
    background: #0000ff !important;
}

.yellow {
    background: #ffff00 !important;
}
.black {
    background: #000000 !important;
    color: #ffffff !important;
}
.white {
    background: #ffffff !important;
}
.orange {
    background: #ffa500 !important;
}
.purple {
    background: #800080 !important;
}
.pink {
    background: #ffc0cb !important;
}
.brown {
    background: #a52a2a !important;
}
.gray {
    background: #808080 !important;
}
.cyan {
    background: #00ffff !important;
}
.lime {
    background: #00ff00 !important;
}  
.magenta {
    background: #ff00ff !important;
}
.maroon {
    background: #800000 !important;
}
.navy {
    background: #000080 !important;
}
.olive {
    background: #808000 !important;
}
