.circle {
    display: flex!important;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.triangle {
    /*display: flex!important;
    justify-content: center;
    align-items: center;*/
    border-left: 4.62px solid transparent;
    border-right: 4.62px solid transparent;
    border-bottom: 8px solid #ffffff;
    /*border: 2px solid #000000;*/
}

.rhombus {
    width: 8px;
    height: 8px;
    display: flex!important;
    justify-content: center;
    align-items: center;
	transform: rotate(45deg);
	background: #ffffff;
    border: 2px solid #000000;
}

.blue {
    background: #008888;
}



/*popup表示させたいコンテンツのレイアウトと位置*/
#popup{
  width:30%;
  line-height:100px;
  background:#ffffff;
  padding:0 4%;
  box-sizing:border-box;
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*checkboxがチェックの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + #popup{
  display:block;
}