.circle {
    width: 10px;
    height: 10px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.triangle {
    display: flex!important;
    justify-content: center;
    align-items: center;
    border-left: 8.66px solid transparent;
    border-right: 8.66px solid transparent;
    border-bottom: 15px solid #ffffff;
    /*border: 2px solid #000000;*/
}

.rhombus {
    width: 10px;
    height: 10px;
    display: flex!important;
    justify-content: center;
    align-items: center;
	transform: rotate(45deg);
	background: #ffffff;
    border: 2px solid #000000;

}

